<!-- Page for viewing a specific post-->
<div class="row" >
    <div class="col-3">
      <h1><%= @place["name"] %></h1>
      
      <p>
         <%= @post["body"] %>
      </p>
    </div>
</div>
<p> <a href="/posts">Back to all Posts </a>